*.DS_Store
*.obj
*.pdb
*.suo
*.user
*.cache
*.orig
*.iws
*.log
*.pyc
*.py~
*.map
*.pid
*.cacheS
*.resharper
*.csproj.ReSharper
*.map
_ReSharper.*
.git
.vs/*
myWebAPI/packages/*
myWebAPI/src/MyApp/bin/*
myWebAPI/test/MyTests/obj/Debug/*
myWebAPI/src/MyApp/obj/Debug/*
myWebAPI/test/MyTests/bin/*
myWebAPI/.vs/myWebAPI/v15/*